<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About Panther</title>
    <link type="text/css" rel="stylesheet" href="/CSS/about.css">
</head>
<body>
    <header>
        <a href="/">
            <img class="logo" src="img/Panther.jpg" alt="Panther Logo">
        </a>
        <h1 class="site-title">Panther</h1>
    </header>
    <h1>About Panther</h1>
    <p>Panther is a social media website created by Max Kempler where anyone can share their thoughts and ideas freely.</p>
</body>
</html>


