<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Panther | Home</title>
    <link type="text/css" rel="stylesheet" href="/CSS/index.css">
</head>
<body>
    <header>
        <img class="logo" src="img/Panther.jpg" alt="Panther Logo">
        <h1 class="site-title">Panther</h1>
    </header>

    <nav>
        <ul>
            <li><a href="/post">Make a Post</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/feed">Feed</a></li>
            <li><a href="/login">Log In / Sign Up</a></li>
        </ul>
    </nav>
    
    <main>
        <h1>Welcome to Panther</h1>
        <p>Say what you want. When you want.</p>
    </main>
    
    <footer>
        <p>&copy; 2023 Panther</p>
    </footer>


    <script src="/js/index.js"></script>

    

</body>
</html>
