<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Panther | Create Post</title>
    <link type="text/css" rel="stylesheet" href="/CSS/post.css">
</head>
<body>
    <header>
        <a href="/">
            <img class="logo" src="img/Panther.jpg" alt="Panther Logo">
        </a>
        <h1 class="site-title">Panther</h1>
    </header>
    <main>
        <section class="post-form">
            <h2>What's on your mind?</h2>
            <a href="/"></a>
            <form id="postForm" action="/api/post" method="post">
                <label for="post_title">Title:</label>
                <input type="text" id="title" name="title" placeholder="Enter the post title">
            
                <label for="post_content">Content:</label>
                <input type="text" id="content" name="content" placeholder="Write your post">
            
                <label for="post_author">Author:</label>
                <input type="text" id="author" name="author" placeholder="Enter your name">
            
                <button type="submit">Post</button>
            </form>
            
        </section>
    </main>
    <footer>
    </footer>

    
    <script>
        //posts the user's post to the database
        document.getElementById("postForm").addEventListener("submit", function(event) {
            event.preventDefault();

            let title = document.getElementById("title").value;
            let content = document.getElementById("content").value;
            let author = document.getElementById("author").value;

            let postData = {
                title: title,
                content: content,
                author: author
                
                
                
            };

            fetch("/api/post", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify(postData)
            })
            .then(response => response.json())
            .then(data => {
                alert("Post submitted successfully!");
                window.location.href = "/feed";
            })
            .catch(error => {
                console.error("Error:", error);
                alert("Failed to submit the post.");
            });
        });
    </script>
    
    
</body>
</html>
