<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Panther | Sign Up</title>
  <link type="text/css" rel="stylesheet" href="/CSS/post.css">
</head>
<body>
  <header>
    <a href="/">
      <img class="logo" src="img/Panther.jpg" alt="Panther Logo">
    </a>
    <h1 class="site-title">Panther</h1>
  </header>
  <h1>Sign Up for Panther</h1>
  <form id="signup-form" action="/signUp" method="post">
    <label for="first-name">First Name:</label>
    <input type="text" id="first-name" name="firstName" required>
  
    <label for="last-name">Last Name:</label>
    <input type="text" id="last-name" name="lastName" required>
  
    <label for="email">Email:</label>
    <input type="text" id="email" name="email" required>
  
    <label for="password">Password:</label>
    <input type="text" id="password" name="password" required>
  
    <button type="submit">Sign Up</button>
  </form>
  
  <p>Already have an account? <a href="/login">Log in</a></p>


  
</body>
</html>
